<!-- app/views/calculator/_result.html.erb -->

<div id="result" style="display: absolute; text-align: center; width: 100%; font-size: 2em; height: 50px; margin-bottom: 20px;">
  <%= result %>
</div>
